@model Box

<div class="box" style="padding: 1rem; background-color: @Model.BackgroundColor; font-size: @Model.FontSize">
    <div class="box-content">
        @Html.Raw(Model.ChildContent)
    </div>
</div>