@model PersonComponent

<div>
    <p>
        <strong>First Name:</strong> @Model.Person.FirstName
    </p>

    <p>
        <strong>Last Name:</strong> @Model.Person.LastName
    </p>

    <p>
        <strong>Phone Number:</strong> @Model.Person.PhoneNumber
    </p>
</div>