@model Person

<div>
    <p>
        <strong>First Name:</strong> @Model.FirstName
    </p>

    <p>
        <strong>Last Name:</strong> @Model.LastName
    </p>

    <p>
        <strong>Phone Number:</strong> @Model.PhoneNumber
    </p>
</div>