@model CaptionedImage

<div class="captioned-image d-flex flex-column align-items-center" style="padding: 1rem;">
    <img class="captioned-image-img" src="@Model.ImgSrc" />
    <p class="captioned-image-caption">
        @Model.Caption
    </p>
</div>